# Git
.git
.gitignore
.github

# Documentation
README.md
SECURITY.md

# Build artifacts
**/*.tar.gz
**/*.zip

# Temporary files
*.tmp
*.temp
**/.DS_Store

# IDE files
.vscode
.idea
*.swp
*.swo

# Logs
*.log
**/*.log

# Whitesource config
.whitesource

# Build files
build.sh
security-check.sh
