XMRIG_IMAGE=ghcr.io/cniweb/xmrig:latest
ALGO=rx/0
POOL_ADDRESS=stratum+ssl://pool.supportxmr.com:443
WALLET_USER=YOUR_MONERO_WALLET.worker
PASSWORD=x
API_PORT=8080

# RandomX-specific options (used by start-linux-randomx.sh)
# XMRIG_NO_RDMSR=0
# XMRIG_RANDOMX_MODE=auto
